# Legacy filename: the CPU IR is 5 bits, not 8 bits.
# Chain definitions below follow FD's target/anlogic/ph1p35.cfg.
source [find /target/anlogic/init.cfg]
echo "PH1P35 EFFECTIVE: CONFIG_JTAG=$CONFIG_JTAG CONFIG_HWSERVER=$CONFIG_HWSERVER"
adapter speed 100


## If ftdi_device_desc not specified, the device description is ignored during device selection.
## So if you want to specify a dedicated FTDI device, you can select following device description:
## "Dual RS232-HS" is for HummingBird Debugger V1
## "USB <-> JTAG-DEBUGGER" is for HummingBird Debugger V2
## Uncomment one which match your device description
# ftdi_device_desc "Dual RS232-HS"
# ftdi_device_desc "USB <-> JTAG-DEBUGGER"


if {$CONFIG_HWSERVER == 0} {
  adapter driver ftdi
  ftdi vid_pid 0x0403 0x6042
  ftdi oscan1_mode off
  ftdi layout_init 0x0008 0x001b
  ftdi layout_signal nSRST -oe 0x0020 -data 0x0020
  ftdi layout_signal TCK -data 0x0001
  ftdi layout_signal TDI -data 0x0002
  ftdi layout_signal TDO -input 0x0004
  ftdi layout_signal TMS -data 0x0008
  ftdi layout_signal JTAG_SEL -data 0x0100 -oe 0x0100
} elseif {$CONFIG_HWSERVER == 1} {
    adapter driver jtag_vpi
    jtag_vpi set_address 127.0.0.1
    jtag_vpi set_port $HWSERVER_PORT
}

transport select jtag

set _CHIPNAME0 riscv0
if {$CONFIG_JTAG ==0} {
    jtag newtap $_CHIPNAME0 cpu -irlen 5 -ircapture 0x1 -irmask 0x03 -enable
    jtag newtap $_CHIPNAME0 cfg -irlen 8
} elseif {$CONFIG_JTAG ==1} {
    jtag newtap $_CHIPNAME0 cpu -irlen 5 -ircapture 0x1 -irmask 0x03 -enable
}

set _TARGETNAME0 $_CHIPNAME0.cpu
target create $_TARGETNAME0 riscv -chain-position $_TARGETNAME0 -coreid 0 

$_TARGETNAME0 configure -work-area-phys 0x08000000 -work-area-size 10000 -work-area-backup 1

   set _FLASHNAME0 $_CHIPNAME0.flash
    flash bank $_FLASHNAME0 nuspi 0x20000000 0 0 0 $_TARGETNAME0 0x11040000
#jtag newtap $_CHIPNAME1 cpu -irlen 5 -expected-id 0x12030a6d

# Set the ILM space also as flash, to make sure it can be add breakpoint with hardware trigger
#flash bank onboard_ilm nuspi 0x80000000 0 0 0 $_TARGETNAME

# Expose Nuclei self-defined CSRS range 770-800,835-850,1984-2032,2064-2070
# See https:
# Then user can view the csr register value in gdb using: info reg csr775 for CSR MTVT(0x307)
#riscv expose_csrs 770-800,835-850,1984-2032,2064-2070
init
#reset
if {[ info exists pulse_srst]} {
  ftdi_set_signal nSRST 0
  ftdi_set_signal nSRST z
}

foreach t [target names] {
  targets $t
  halt
}
# We must turn on this because otherwise the IDE version debug cannot download the program into flash#
  flash protect 0 0 last off
